<main>
<!--Main layout-->
<div class="container">

    <!--Page heading-->
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive">
                <small class="text-muted">Welcome! Here are recommendations for you. </small>
            </h1>
        </div>
    </div>
    <!--/.Page heading-->
    <hr>

    <!--First row-->
    <div class="row wow">
        <!--First column-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53)" class="img-fluid" alt="">
                    <a href="recipes/breakfast-brunch">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/breakfast-brunch">
                        <h4 class="card-title">Breakfast and Brunch</h4>
                        <div class="mask"></div>
                    </a>
                    <!--Text-->
                    <p class="card-text">Expand your horizons and try these healthy options to satisfy those breakfast food cravings all day long.</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.4s">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(43).jpg" class="img-fluid" alt="">
                    <a href="recipes/lunch-dinner">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/lunch-dinner">
                        <h4 class="card-title">Lunch and Dinner</h4>
                        <div class="mask"></div>
                    </a>
                    <!--Text-->
                    <p class="card-text">There are countless variations on these recipes. All comes down to your personal taste and preference. Find a super-fresh option.</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.6s">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(52)" class="img-fluid" alt="">
                    <a href="recipes/fancy-desserts">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/fancy-desserts">
                        <h4 class="card-title">Fancy desserts</h4>
                        <div class="mask"></div>
                    </a>
                    <!--Text-->
                    <p class="card-text">A list of our top fancy and delicious desserts, guaranteed to make that next meal a better-for-you hit.</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/.Third column-->
    </div>
    <!--/.First row-->

    <!--Second row-->
    <div class="row">
        <!--First column-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg" class="img-fluid" alt="">
                    <a href="recipes/light-ideas">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/light-ideas">
                        <h4 class="card-title">Light super ideas</h4>
                        <div class="mask"></div>
                    </a>
                    <!--Text-->
                    <p class="card-text">With a little planning, they can all be prepared in seven minutes or less. It's time to kick that brown-bag lunch up a notch!</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.4s">
            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(49)" class="img-fluid" alt="">
                    <a href="recipes/appetizers-snacks">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/appetizers-snacks">
                        <h4 class="card-title">Appetizers and Snacks</h4>
                        <div class="mask"></div>
                    </a>
                    <!--Text-->
                    <p class="card-text">These simplified recipes are the perfect homemade, comforting meal to tackle on a lazy weekend day.</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--Second column-->

        <!--Third column-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.6s">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51)" class="img-fluid" alt="">
                    <a href="recipes/salads">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <a href="recipes/salads">
                        <h4 class="card-title">Season salads</h4>
                        <div class="mask"></div>
                    </a>                            
                    <!--Text-->
                    <p class="card-text">They may look similar, but these salads have some health benefits of their own and also happens to be super inexpensive.</p>
                    <!--
                    <div class="read-more">
                        <a href="#!" class="btn btn-brown">Read more</a>
                    </div>
                    -->
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/.Third column-->
    </div>
    <!--/.Second row-->
    <!--Pagination-->
    <!--
    <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#!" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item"><a class="page-link" href="#!">4</a></li>
            <li class="page-item"><a class="page-link" href="#!">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#!" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    -->
    <!--/.Pagination-->
</div>
<!--/.Main layout-->
</main>

<!-- SCRIPTS -->
<script>
    new WOW().init();
</script>